body {
  margin: 0;
  font-family:'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #22668A;

}

.category-active {
  background-color: #22668A;
  color:white;
}

.Col {
  background-color: #22668A;
}

.btn-primary {
  background-color: #22668A;
}

@media only screen and (max-height: 1000px){
  .hasil{
    height: 450px;
  }
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}

.menu{
  height: 800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
